body {
  margin: 0;
  background: #636363;
}

#app {
  border-radius: 10px;
  width: 425px;
  height: 420px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 24px;
  gap: 24px;
}
.note {
  background-color: #e1e1e1;
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  resize: none;
  font-family: sans-serif;
  font-size: 16px;
  transition: transform 300ms ease-in-out;
  transform: scale(1);
}
.note:focus {
  outline: none;
  transition: transform 300ms ease-in-out;
  transform: scale(1.05);
}
.add-note {
  height: 200px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}
.add-note:hover {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar {
  display: none;
}
